*{
    /* margin: 0%; */
    padding: 0%;
}
.row-1{
    width: 200px;
    height: 538px;
    /* border: 2px solid; */
    margin-top: -10px;
    float: left;
}
 .row h2{
    margin-left: 35px; 
    font-size: 30px; 
}
.col{
    height: 37px;
    background-color: black;
    color: white;
    margin-top: -21px;
    text-align: center;
}

.col-1{
    height: 37px;
    background-color: red;
    color: white;
    margin-top: -22px;
    text-align: center;
}
.col-2{
    height: 100px;
    background-color: rgba(34, 34, 232, 0.803);
    color: white;
    margin-top: -1px;
    text-align: center;
    padding-top: 10px;
}
.col-3{
    height: 100px;
    background-color: black;
    color: white;
    margin-top: -1px;
    text-align: center;
    padding-top: 10px;
}
.col-4{
    height: 80px;
    background-color:yellow;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-top: 2px;
}
.col-5{
    height: 80px;
    background-color:green;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-top: 2px;
}
.col-6{
    height: 80px;
    background-color:rgb(54, 123, 77);
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-top: 2px;
}
.row-3{
    /* border: 2px solid; */
    width: 500px;
    height: 534px;
    margin-left: 50px;
    margin-top: -14px;
    float: left;
}
.row-2 h2{
    font-size: 30px;
    margin-top: -55px;
    margin-left: 430px; 
}
.row-4 h2{
    font-size: 30px;
    margin-top: -60px;
    margin-left: 1100px;
}
.row-5{
    /* border: 2px solid; */
    width: 700px;
    height: 534px;
    margin-left: 800px;
    margin-top: -14px;
    
}
.col-7{
    padding-left: 170px;
    margin-top: -22px;
    height: 37px;
    background-color: black;
    color: white;
}
.col-8{
    padding-left: 170px;
    height: 110px;
    background-color: rgba(34, 34, 232, 0.803);
    color: white;
    padding-top: 30px;
    padding-left: 190px;
}
.col-9{
    padding-left: 170px;
    height: 208px;
    width: 120px;
    background-color: red;
    color: white;
    padding-top: 150px;
    padding-left: 20px;
    float: left;
}
.col-11{
    padding-left: 170px;
    height: 140px;
    width: 220px;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-left: 140px;
    margin-left: 140px;
}
.col-12{
    margin-left: 140px;
    height: 90px;
    width: 240px;
    background-color: yellow;
    color: white;
    padding-left: 120px;
    padding-top: 3px;
}
.col-13{
    margin-left: 140px;
    height: 74px;
    width: 180px;
    background-color: green;
    color: white;
    padding-left: 60px;
    padding-top: 1px;
    
}
.col-22{
    margin-left: 380px;
    margin-top: -75px;
    background-color:rgb(54, 123, 77) ;
    height: 73px;
    padding-top: 2px;
    color: white;
}
.col-14{
    padding-left: 40px;
    margin-top: -15px;
    height: 38px;
    width: 160px;
    background-color: black;
    color: white;
    float: left;
}
.col-14 h1{
    margin-top: -1px;
}
.col-15{
    padding-left: 190px;
    margin-top: -10px;
    height: 36px;
    width: 310px;
    background-color: red   ;
    color: white;
    margin-left: 200px;
}
.col-16{
    padding-left: 300px;
    margin-top: -0px;
    height: 170px;
    width: 400px;
    background-color: rgba(34, 34, 232, 0.803) ;
    color: white;
    padding-top: 60px;
}
.col-17{
    padding-left: 140px;
    margin-top: -0px;
    height: 135px;
    width: 200px;
    background-color:black;
    color: white;
    padding-top: 60px;
    float: left;
}
.col-18{
    /* border: 2px solid; */
    height: 195px;
    width: 160px;
    margin-left: 340px;
    background-color: antiquewhite;
    margin-top: -195px;
    float: left;
}
.col-19{
    margin-left: 500px;
    background-color:rgb(54, 123, 77);
    margin-top: -1px;
    padding-top: 10px;
    padding-left: 50px;
    height: 95px;
}
.col-20{
    margin-left: 500px;
    background-color: green;
    margin-top: -1px;
    padding-top: 10px;
    padding-left: 50px;
    height: 82px;
}
.col-21{
    background-color: yellow;
    margin-top: -21px;
    padding-left: 300px;
    height: 74px;
}
.col-21 h1{
    padding-top: 17px;
}